@tailwind base;
@tailwind components;
@tailwind utilities;


#layout {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-areas:
    "header header header header"
    "navi navi navi navi"
    "mcontent mcontent mcontent lateral"
    "footah footah footah footah"
  ;
  grid-template-rows: 5.5rem 70px auto 70px;
}

.header {
  grid-area: header;
  background: white;
  font-style: italic;
  align-content: center;
}

#icon-pill {
  margin-top: 0px;
  padding-left: 1rem;
}

.header.flex {
  background-image: linear-gradient(to left, #1d3987, rgb(0, 0, 0)), url(./images/tech-bg-min.png);
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: multiply;
  background-size: 70%;
  background-position-x: 30vw;
}

@media(min-width: 999px) {
  .header.flex {
    background-size: 70%;
    background-position-x: 30vw;
  }
}

@media(min-width: 1390px) {
  .header.flex {
    background-size: 70%;
    background-position-x: 30vw;
  }
}

.navi {
  grid-area: navi;
}

.navi li {
  padding: 10px;
}

.navi a {
  transition: all 300ms;
}

.navi a:hover {
  transform: scale(1.1, 1.1);
  text-shadow: 1px 2px 3px cyan;
}

.navi>div.h-full,
.header>div {
  background-image: linear-gradient(to left, rgb(1, 0, 3), #023a8a), url(./images/tech-bg-min.png);
  background-repeat: no-repeat;
  background-position: left;
  background-blend-mode: multiply;
  background-size: cover;
}


#mcontent {
  grid-area: mcontent;
}

#lateral {
  grid-area: lateral;
}


input[type="button"] {
  width: 90px;
  background: #0b70e1;
  color: white;
  border: 0;
  outline: 0;
  padding: 8px 11px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms;
}

#lateral input[type="text"],
#lateral input[type="text"],
#lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
  resize: vertical;
}

#footer {
  grid-area: footah;
}

@media (max-width: 1085px) {
  .content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .peli-item {
    width: 80%;
  }
}

#delete-btn {
  border: none;
  color: grey;
  padding: 7px 7px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e10b0b6b;
}

#delete-btn::before {
  content: "";
  background-image: url(./images/trash_bin.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  float: left;
  margin-left: 1px;
  margin-top: 1px;
  width: 15px;
  height: 15px
}

#edit-btn {
  border: none;
  color: grey;
  padding: 7px 7px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #0b3de16b;
}

#edit-btn::before {
  content: "";
  background-image: url(./images/edit_pencil.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  float: left;
  margin-left: 1px;
  margin-top: 1px;
  width: 15px;
  height: 15px
}